.title{
	margin-top: 50upx;
	font-size: 45upx;
	font-weight: 700;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30upx;
}
.ss{
	font-size: 15upx;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 80upx;
}

.content{
	width: 650upx;
	height: 60upx;
	margin-bottom: 20upx;
	margin-left: 20upx;
	border-radius: 20upx;
}
.btn{
	width: 250upx;
	height: 60upx;
	margin-top: 100upx;
	border-radius: 20upx;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}